In [111]:
import pandas as pd
from sklearn.datasets import load_iris

In [112]:
iris = load_iris()
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'C:\\Users\\saurav.pattnaik\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}

In [113]:
df = pd.DataFrame(iris.data,columns=iris['feature_names'])
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [114]:
df['Category'] = iris['target']
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Category
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

USEFUL PANDAS OPERATIONS

In [115]:
df.shape # This contains 150 rows and 5 columns

(150, 5)

In [116]:
# Helps you to see how many nulls are there
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
Category             0
dtype: int64

In [117]:
# helps us to see the value counts of each category
df['Category'].value_counts()

2    50
1    50
0    50
Name: Category, dtype: int64

In [118]:
df.nunique() # Helps you to see how many unique values are there in every column

sepal length (cm)    35
sepal width (cm)     23
petal length (cm)    43
petal width (cm)     22
Category              3
dtype: int64

In [119]:
df['Category'].unique() # Helps us to see those unique values. Use it on column level only

array([0, 1, 2])

In [120]:
df.info() # To see an overall view of the dataframe columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   Category           150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

INTRODUCTION TO PANDAS FUNCTIONS

In [121]:
mapper = {0:'setosa',
         1:'versicolor',
         2:'virginica'}

# to map 0,1,2 to their neccessary categories we use the map() function

df['Category'] = df['Category'].map(mapper)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Category
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [122]:
# Now lets see the importance of groupby.
# Suppose you want to know what is the average petal length(cm) of the different categories,how can you compute that
# One way will be you slice the df for each category and then compute mean,but that can be tedios if you have too many categories
# This is where groupby helps us,it first clubs the df into separate groups and then allows us to perform operation on them


df.groupby('Category')['petal length (cm)'].mean()

# Also note this can be used to gain insights about the data. Here you come to know that virginica have a greater petal
# length than others

Category
setosa        1.462
versicolor    4.260
virginica     5.552
Name: petal length (cm), dtype: float64

In [123]:
df.groupby('Category')['petal length (cm)'].agg(['mean','median','count']) # Can use it to see multiple stats about the data

             mean  median  count
Category
setosa      1.462    1.50     50
versicolor  4.260    4.35     50
virginica   5.552    5.55     50

In [124]:
# Now lets say that i want to perform some operation on any column,like i want to square the petal length
# We can use the apply function to do this

def square_petal_length(val):
    return val**2

df['petal_length_square'] = df['petal length (cm)'].apply(square_petal_length)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Category,petal_length_square
0,5.1,3.5,1.4,0.2,setosa,1.96
1,4.9,3.0,1.4,0.2,setosa,1.96
2,4.7,3.2,1.3,0.2,setosa,1.69
3,4.6,3.1,1.5,0.2,setosa,2.25
4,5.0,3.6,1.4,0.2,setosa,1.96

In [125]:
# Explaining joins!

temp = pd.DataFrame(df.groupby('Category')['sepal width (cm)'].median()).reset_index() # reset index is done to bring back the
                                                                                       # category on as column

In [126]:
temp.rename(columns={'sepal width (cm)':'median sepal width (cm)'},inplace=True) # Renaming the column to median sepal width
temp

     Category  median sepal width (cm)
0      setosa                      3.4
1  versicolor                      2.8
2   virginica                      3.0

In [127]:
pd.merge(df,temp,how='left',on='Category') # Merging it as left join,so every entry from df will be searched in temp on
                                           # the basis of category

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Category,petal_length_square,median sepal width (cm)
0,5.1,3.5,1.4,0.2,setosa,1.96,3.4
1,4.9,3.0,1.4,0.2,setosa,1.96,3.4
2,4.7,3.2,1.3,0.2,setosa,1.69,3.4
3,4.6,3.1,1.5,0.2,setosa,2.25,3.4
4,5.0,3.6,1.4,0.2,setosa,1.96,3.4
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,27.04,3.0
146,6.3,2.5,5.0,1.9,virginica,25.00,3.0
147,6.5,3.0,5.2,2.0,virginica,27.04,3.0
148,6.2,3.4,5.4,2.3,virginica,29.16,3.0
149,5.9,3.0,5.1,1.8,virginica,26.01,3.0

In [128]:
# Left join basically takes preserves the left side argument. Like if i have an entry that has a unique category that is not
# found in temp then that record will be still there after join but it will have null median sepal width

In [129]:
new_row = {'sepal length (cm)':4.0,'sepal width (cm)':2.5,'petal length (cm)':5.4,'petal width (cm)':2.1,'Category':'Unknown',
             'petal_length_square':29.16}

df = df.append(new_row,ignore_index=True) # Manually adding a new row with a different category
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Category,petal_length_square
146,6.3,2.5,5.0,1.9,virginica,25.00
147,6.5,3.0,5.2,2.0,virginica,27.04
148,6.2,3.4,5.4,2.3,virginica,29.16
149,5.9,3.0,5.1,1.8,virginica,26.01
150,4.0,2.5,5.4,2.1,Unknown,29.16

In [130]:
pd.merge(df,temp,how='left',on='Category') # See the new row is still there since df was in the left but median value is NaN
                                           # since median sepal width is not there for that category in temp

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Category,petal_length_square,median sepal width (cm)
0,5.1,3.5,1.4,0.2,setosa,1.96,3.4
1,4.9,3.0,1.4,0.2,setosa,1.96,3.4
2,4.7,3.2,1.3,0.2,setosa,1.69,3.4
3,4.6,3.1,1.5,0.2,setosa,2.25,3.4
4,5.0,3.6,1.4,0.2,setosa,1.96,3.4
...,...,...,...,...,...,...,...
146,6.3,2.5,5.0,1.9,virginica,25.00,3.0
147,6.5,3.0,5.2,2.0,virginica,27.04,3.0
148,6.2,3.4,5.4,2.3,virginica,29.16,3.0
149,5.9,3.0,5.1,1.8,virginica,26.01,3.0
150,4.0,2.5,5.4,2.1,Unknown,29.16,NaN

In [131]:
pd.merge(temp,df,how='left',on='Category') # Notice the difference here
                                           # Since temp is on the left,that new record is not there after join because
                                           # in temp that new category is not present!

,Category,median sepal width (cm),sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),petal_length_square
0,setosa,3.4,5.1,3.5,1.4,0.2,1.96
1,setosa,3.4,4.9,3.0,1.4,0.2,1.96
2,setosa,3.4,4.7,3.2,1.3,0.2,1.69
3,setosa,3.4,4.6,3.1,1.5,0.2,2.25
4,setosa,3.4,5.0,3.6,1.4,0.2,1.96
...,...,...,...,...,...,...,...
145,virginica,3.0,6.7,3.0,5.2,2.3,27.04
146,virginica,3.0,6.3,2.5,5.0,1.9,25.00
147,virginica,3.0,6.5,3.0,5.2,2.0,27.04
148,virginica,3.0,6.2,3.4,5.4,2.3,29.16
149,virginica,3.0,5.9,3.0,5.1,1.8,26.01