In [1]:
print ("Hey! Welcome to Highradius")

Hey! Welcome to Highradius

### Hello World

In [2]:
print ("Hello World")

Hello World

In [3]:
print (1+2)

3

In [4]:
print(3*8)

24

In [5]:
print ("Addition Example")
a=10
b=20
print (10+20)

Addition Example
30

In [6]:
print (a)

10

### Indentation

In [7]:
print ("Addition Example")
 a=10  # extra space will show indentation error 
b=20
print (10+20)

IndentationError: unexpected indent (<ipython-input-7-d8cadad1500b>, line 2)

In [8]:
    print ("Addition Example")
    a=10  # extra space will show indentation error 
    b=20
    print (10+20)

Addition Example
30

In [9]:
if a==10:
    print (10)
else:
    print(20)

10

In [11]:
if a==10:
        print (10) # this is one stayement down is another 
    
else:
    print(20)

10

In [14]:
# statement should be intended properly 
if a==10:
            print (10)
    print("done")
else:
    print(20)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [15]:
if a==10:
    print (10)
else:
    print(20)

10

### Semicolon

In [17]:
# use of semicolun is not suggested in python programming however we can use in a single line of code 
print ("Addition Example")
a=10;b=10
print(10+20)

Addition Example
30

### Operators

In [18]:
print (1==1) # equal

True

In [19]:
print (2+1) # addition

3

In [20]:
print (2-1) # substraction

1

In [21]:
print (2*2) # multiplication

4

In [22]:
print (2**2) # power

4

In [23]:
print (5/2) # division

2.5

In [39]:
17 // 3  # floor division discards the fractional part

5

In [40]:
17 % 3  # the % operator returns the remainder of the division

2

In [27]:
print (2<1) # less then

False

In [28]:
print (4>2) # greater then

True

In [30]:
print (4>=2) # greater then equal

True

In [32]:
print (4<=4) # less then equal

True

In [33]:
print (4==4) # equal

True

In [34]:
print (4!=1) # not equal to

True

In [41]:
len('shivendra')

9

In [43]:
my_list= [1,2,3]
print (my_list)

[1, 2, 3]

In [45]:
dict1= {'x':5,'y':10}

In [46]:
dict1

{'x': 5, 'y': 10}

### Variables 
#### Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [47]:
# python is dynamically typed languages 
a=10
type(a)

int

In [48]:
a=1.0
type(a)

float

In [49]:
a='shiv'
type (a)

str

In [51]:
# Python is strongly typed in the sence we can't perform the similar operations
# for example list can't be added with the string 
a=[1,2]
a+'Shiv'

TypeError: can only concatenate list (not "str") to list

# Variable Assignment

## Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

In [52]:
1_my_fisrt_var=1

SyntaxError: invalid decimal literal (<ipython-input-52-0d0fc7cf0263>, line 1)

In [53]:
_my_fisrt_var=1

In [54]:
_my_fisrt_var

1

In [55]:
myfirstvar=2

In [56]:
MYFIRSTVAR # python is case sensitive

NameError: name 'MYFIRSTVAR' is not defined

In [58]:
not=2 # we cant use reverved keywords as variable

SyntaxError: invalid syntax (<ipython-input-58-3039af4db238>, line 1)

In [59]:
a=10
b=20
a,b=b,a # swaping element 
print (a,b)

20 10

### Lsit Example

In [60]:
x=[1,2,3] # homogeneous list
y= [1,2,'shiv'] # hetrogeneous list
nested_list =[4,5,6,y] # nested list

In [61]:
print (nested_list)

[4, 5, 6, [1, 2, 'shiv']]

In [63]:
# deep nested list 
x=[1,2,3] # homogeneous list
y= [1,2,'shiv',x] # hetrogeneous list
deep_nested_list =[4,5,6,y] # nested list

In [64]:
print (deep_nested_list)

[4, 5, 6, [1, 2, 'shiv', [1, 2, 3]]]

In [65]:
nested_list[1]

5

In [66]:
nested_list[3]

[1, 2, 'shiv', [1, 2, 3]]

In [67]:
nested_list[3][3]

[1, 2, 3]

In [68]:
nested_list[3][2]

'shiv'

In [69]:
deep_nested_list[3][3][0] # slicing

1

### List Methods

In [70]:
x=[]
x.append(1)

In [71]:
x

[1]

In [72]:
x.pop() # del the elemet from the last

1

In [73]:
x=[1,2,3]
x.append(4)
x

[1, 2, 3, 4]

In [76]:
max(x) # getting max from the list

4

In [77]:
min(x) # getting min from the lsit

1

In [79]:
len(x) # Getting the length of the list

4

In [81]:
def add(x):
    return x**2
y=list(map(add,x)) # process and transform all the items in an iterable without using an explicit for loop
print(y)

[1, 4, 9, 16]

In [84]:
y=list (map(lambda x:x*2,x))

In [85]:
y

[2, 4, 6, 8]

### Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

#### Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [87]:
# Create a tuple
t = (1,2,3)

In [88]:
t[2]

3

In [89]:
t[2]=10 ## we can't modify the tuple

TypeError: 'tuple' object does not support item assignment

In [93]:
t.count (4) # count the number of 4 inside the tuple

0

In [94]:
# Check len just like a list
len(t)

3

In [95]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [96]:
# Use indexing just like we did in lists
t[0]

'one'

In [97]:
# Slicing just like a list
t[-1]

2

# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [100]:
set_1={1,2,3,4,5,3,5,5,6,7,1}

In [102]:
print(set_1)

{1, 2, 3, 4, 5, 6, 7}

In [103]:
set_2={1,2,5,6,7,8}

In [104]:
print (set_2)

{1, 2, 5, 6, 7, 8}

In [105]:
set_1-set_2

{3, 4}

In [106]:
set_1.union(set_2) # take all the unique element from the set 1  and set 2

{1, 2, 3, 4, 5, 6, 7, 8}

In [107]:
set_1.intersection(set_2) # similar in both set

{1, 2, 5, 6, 7}

In [108]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [109]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

### Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [110]:
# Set object to be a boolean
a = True

In [111]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [112]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [113]:
# None placeholder
b = None

In [114]:
# Show
print(b)

None

### Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 
So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


#### Constructing a Dictionary

In [115]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'Shivendra','key2':'Any value'}

In [116]:
# Call values by their key
my_dict['key1']

'Shivendra'

In [120]:
Employee= {'e_id': 2869,
          'e_name':'Shivendra',
           'dob': '10-06-1999'
}

In [121]:
print (Employee)

{'e_id': 2869, 'e_name': 'Shivendra', 'dob': '10-06-1999'}

In [122]:
for x in Employee:
    print (x)

e_id
e_name
dob

In [123]:
print (Employee.keys())

dict_keys(['e_id', 'e_name', 'dob'])

In [124]:
for x in Employee:
    print (Employee[x])

2869
Shivendra
10-06-1999

In [125]:
for x in Employee.values():
    print(x)

2869
Shivendra
10-06-1999

In [126]:
print(Employee.values())

dict_values([2869, 'Shivendra', '10-06-1999'])

In [128]:
for x,y in Employee.items():
    print(x,y)

e_id 2869
e_name Shivendra
dob 10-06-1999

In [129]:
Employee['blood_group']='B+'

In [130]:
print (Employee)

{'e_id': 2869, 'e_name': 'Shivendra', 'dob': '10-06-1999', 'blood_group': 'B+'}

In [131]:
Employee.pop('dob') # deleting the pair

'10-06-1999'

In [132]:
Employee

{'e_id': 2869, 'e_name': 'Shivendra', 'blood_group': 'B+'}

In [133]:
# Can call an index on that value
Employee['e_name'][0]

'S'

In [134]:
# Can then even call methods on that value
Employee['e_name'][0].lower()

's'

In [136]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [137]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

In [138]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [139]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [140]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [141]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

### String 
Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

object.method(parameters)

In [142]:
word ='HELLO-World'

In [143]:
word.split('-')

['HELLO', 'World']

In [144]:
word.replace('HELLO','Hi')

'Hi-World'

In [145]:
word[::-1] # reverse the string

'dlroW-OLLEH'

In [146]:
word.isalnum() # string is numeric or not

False

In [147]:
word.isalpha() # string is alphabetic or not

False

In [149]:
word.isalnum() # alphabet or numbers

False

In [150]:
word.upper()

'HELLO-WORLD'

In [151]:
word.isupper()

False

In [153]:
word.startswith('H')

True

In [154]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-154-da9a34b3dc31>, line 2)

In [155]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [157]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('my name is shivendra')
print('you & me is doing great')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


my name is shivendra
you & me is doing great
See what I mean?

In [158]:
len('Hello World')

11

In [159]:
# Assign s as a string
s = 'Hello Shivendra'

In [160]:
#Check
s

'Hello Shivendra'

In [161]:
# Print the object
print(s)

Hello Shivendra

In [162]:
# Show first element (in this case a letter)
s[0]

'H'

In [163]:
s[1]

'e'

In [164]:
s[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [165]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello Shivendra'

In [166]:
# Note that there is no change to the original s
s

'Hello Shivendra'

In [167]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [168]:
#Everything
s[:]

'Hello Shivendra'

We can also use negative indexing to go backwards.

In [169]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'a'

In [170]:
# Grab everything but the last letter
s[:-1]

'Hello Shivendr'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [171]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello Shivendra'

In [172]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloSieda'

In [173]:
# We can use this to print a string backwards
s[::-1]

'ardnevihS olleH'

### String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [174]:
s

'Hello Shivendra'

In [175]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [176]:
s

'Hello Shivendra'

In [178]:
# Concatenate strings!
s + '! Welcome to highradius'

'Hello Shivendra! Welcome to highradius'

In [179]:
# We can reassign s completely though!
s = s + '! Welcome to highradius'

In [180]:
print(s)

Hello Shivendra! Welcome to highradius

In [182]:
letter= 's'
letter*10

'ssssssssss'

### introdunction to python statement .

In [183]:
if True : 
    print (' Shivendra kumar jha ')

 Shivendra kumar jha

In [185]:
x=False 
if x:
    print ('X is true ')
else :
    print (' Shivendra jha is a budding Data scientist')

 Shivendra jha is a budding Data scientist

In [186]:
loc ='Bihar'
if loc =='Bihar':
    print ( ' Welcome to Darbhanga hometown of shivendra jha in bihar ')
elif loc =='SRM':
    print (' Welcome to SRM')
else :
    print ('Wherever you want to go !! Just go i dont care ')

 Welcome to Darbhanga hometown of shivendra jha in bihar

In [187]:
person ='Shivendra'
if person =='Shivendra':
    print ('HEllo shivendra how is your day today')
elif person == 'Raghavendra ':
    print ( ' HEy raghavendra hoe are you ')
else :
    print ('Welcome ! what is your name')

HEllo shivendra how is your day today

### If else Ternary

In [191]:
score=90
if score>90:
    print ("excellent")
elif score>60 and score<=90:
    print ('Very Good')
else:
    print("Above avg")

Very Good

In [194]:
remarks="very Good" if score>60 else "Above avg"
print(remarks)

very Good

## Indentation

It is important to keep a good understanding of how indentation works in Python to maintain the structure and order of your code. We will touch on this topic again when we start building out functions!

### Loops in python

In [195]:
a=[1,2,3,4,5,6,7,8,9,10]

In [196]:
for item in a:
    print (item)

1
2
3
4
5
6
7
8
9
10

for item in a : 
    if item%2==0:
        print (item)

In [198]:
name ='SRM'
for ch in name:
    print(ch)

S
R
M

In [199]:
num=5
for i in range(0,num):
    print (i)

0
1
2
3
4

In [200]:
num=0
while (num<5):
    print (num)
    num+=1

0
1
2
3
4

In [202]:
for char in 'HighRadius':
    if char=='i':
        continue
    print (char)
print ("The end")

H
g
h
R
a
d
u
s
The end

In [203]:
for char in "HighRadius":
    if char=='i':
        break
    print (char)
print ("The end")

H
The end

## Functions

### Introduction to Functions

This lecture will consist of explaining what a function is in Python and how to create one. Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. If you remember back to the lessons on strings and lists, remember that we used a function len() to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

Functions will be one of most basic levels of reusing code in Python, and it will also allow us to start thinking of program design.

In [204]:
def add(a,b):
    c=a+b
    return c
x=add(3,4)
print (x)

7

In [205]:
def add(a,b):
    c=a+b
    print (c)
add(3,4)

7

In [206]:
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    for n in range(2,num):
        if num % n == 0:
            print(num,'is not prime')
            break
    else: # If never mod zero, then prime
        print(num,'is prime!')

In [207]:
is_prime(25)

25 is not prime

In [208]:
is_prime(17)

17 is prime!

Note how the <code>else</code> lines up under <code>for</code> and not <code>if</code>. This is because we want the <code>for</code> loop to exhaust all possibilities in the range before printing our number is prime.

Also note how we break the code after the first print statement. As soon as we determine that a number is not prime we break out of the <code>for</code> loop.

We can actually improve this function by only checking to the square root of the target number, and by disregarding all even numbers after checking for 2. We'll also switch to returning a boolean value to get an example of using return statements:

### Local and Global Variables

In [212]:
x="global"
def foo():
    global x
    y="local"
    x=x*2
    print (x) # it will be printed 2 times 
    print (y)
foo()

globalglobal
local

In [213]:
x=10
def foo():
    global x
    y='1'
    x=x*2
    print(x)
    print(y)
foo()

20
1

In [214]:
x=10
def foo():
    y='1'
    x=x*2 # we cant use it here it will show error so we need to use the global keywords 
    print(x)
    print(y)
foo()

UnboundLocalError: local variable 'x' referenced before assignment

### File Handaling in python

Python uses file objects to interact with external files on your computer. These file objects can be any sort of file you have on your computer, whether it be an audio file, a text file, emails, Excel documents, etc. Note: You will probably need to install certain libraries or modules to interact with those various file types, but they are easily available.

In [215]:
test_file =open('test_new.txt','w')

In [216]:
test_file.write('I am shivendra jha and this is my file')

38

In [218]:
test_file.read() # we can't read this file because we are in write mode

UnsupportedOperation: not readable

In [226]:
test_file =open('test_new.txt','r')

In [227]:
test_file.read()

'I am shivendra jha and this is my file'

## Appending to a File
Passing the argument `'a'` opens the file and puts the pointer at the end, so anything written is appended. Like `'w+'`, `'a+'` lets us read and write to a file. If the file does not exist, one will be created.

In [234]:
my_file = open('test.txt','a+')
my_file.write('\nThis is text being appended to test.txt')
my_file.write('\nAnd another line here  .')

25

In [235]:
my_file.seek(0)
print(my_file.read())

This is text being appended to test.txt
And another line here  .

In [236]:
my_file.close()

In [237]:
test_file.close()

### Exception Handaling

In [247]:
a=1
b=0
try:
    c=a/b
except:
    print ("division by zero")

division by zero

In [248]:
try:
    if b==0:
        raise ValueError("Division by zero")
except ValueError as ve:
    print(ve)

Division by zero

#### This is all about the basics of python and commonly used data structure